<%- include('../partials/menu') %>
<% if (typeof errors !='undefined') {%>
    <ul>
    <% errors.forEach((error) =>{ %>
    <li><%= error.msg %></li>
    <%}) %>
    </ul>
    <%} %>



<form action="/productos/update?_method=PUT" method="post">
<input type="hidden" name="id" value="<%= values.id || producto.id %>">
<div>
<label for="marca">Indique la Marca</label>
<input type="text" name="marca" id="marca" value="<%= values.marca || producto.marca %>">
<br><br>
<label for="modelo">Ingrese el Modelo</label>
<input type="text" name="modelo" id="modelo" value="<%= values.modelo || producto.modelo %>">
<br><br>
<label for="descripcion">Ingrese la Descripcion</label>
<input type="text" name="descripcion" id="descripcion" value="<%= values.descripcion || producto.descripcion %>">
</div>
<br><br><br>
<button type="submit">Guardar</button>
</form>